.Dictionary {
    /* width: 100%; */
    border: 1px solid #C8CFED;
    padding: 20px;
    background-color:  white ;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5); 
    margin: 0 0 15px 0;
    width: 70%;

}

input {
  padding: 6px 10px;
 
  border: 1px solid #C8CFED;
  border-radius: 6px;
  box-shadow: 0px 10px  10px rgba(0, 0, 0, 10%); 
  color: #5D32D5;
 
}

 .searchButton {
  width: 450px;
} 

.submitButton {
    width: 150px;
    background-color: #5D32D5;
    color: white;
} 

.partofspeech {
    text-transform: capitalize;
    font-weight: bolder;  
}

 .section {
  background: #C8CFED;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 5px 5px  5px rgba(0, 0, 0, 0.7);
    margin: 15px 0;
}

section {
    background: #C8CFED;
      padding: 30px;
      border-radius: 16px;
      box-shadow: 5px 5px  5px rgba(0, 0, 0, 0.7);
      margin: 15px 0;
  }



.Dictionary h4 {
    color: #E3E6EA;
}

/* .search {
    margin-left: 13%;
} */