Dictionary {
    background: white;
}

input {
    background: white !important;
    padding: 10px;
}

.searchButton {
    background-color: white !important;
    padding: 10px;
}

.partofspeech {
    text-transform: capitalize;
    font-weight: bolder;
   
}